@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-surface: #ffffff;
  --font-sans: "Prompt", sans-serif;
  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

@layer base {
  body {
    @apply bg-background text-slate-800 font-sans antialiased;
  }
}
